@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.leaflet-container {
  background: transparent;
}